# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: pypi-release

permissions:
    contents: read

on:
    workflow_dispatch:
    release:
        types: [created]

jobs:
    publish:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.x"

            - name: Set up Python
              uses: Serapieum-of-alex/github-actions/actions/python-setup/uv@uv/v1
              with:
                  python-version: ${{ matrix.python-version }}
                  install-groups: dev
                  verify-lock: true

            - name: Build package
              run: uv build

            - name: Build and publish
              env:
                  TWINE_USERNAME: ${{ secrets.PYPI_USERS }}
                  TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
              run: |
                  pip install twine
                  twine upload dist/*
