name: ci

permissions:
    contents: read

on:
  push:
  workflow_dispatch:

jobs:
  CI:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.13"]
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: Serapieum-of-alex/github-actions/actions/python-setup/uv@uv/v1
        with:
          python-version: ${{ matrix.python-version }}
          install-groups: dev
          verify-lock: true

      - name: tests
        run: |
          uv run pytest -sv -m "not e2e" --cov=src/serapeum --cov-report=xml

      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v3

      - name: test Jupyter notebook
        shell: bash
        run: |
          uv run pytest --nbval --nbval-lax docs/ --verbose --continue-on-collection-errors || echo "No notebooks found or collection errors occurred"
