name: ci
permissions:
    contents: read

on:
  push:
  workflow_dispatch:

jobs:
  CI:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.13"]
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock

      - name: Verify lock file is up to date
        run: |
          uv lock --check

      - name: Install Dependencies
        run: uv sync --frozen --group dev

      - name: list env contents
        run: |
          uv pip list

      - name: tests
        run: |
          uv run pytest -sv -m "not e2e" --cov=src/serapeum --cov-report=xml

      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v3

      - name: test Jupyter notebook
        run: |
          uv run pytest --nbval --nbval-lax docs/ --verbose --continue-on-collection-errors || echo "No notebooks found or collection errors occurred"
